<!DOCTYPE html>
<html>
  <head>
    <title>Forefront</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">

  </head>


  <body>
    <%= render 'layouts/navigation'%>
    <div class="container">
      <%= render 'layouts/messages'%>
      <%=yield%>
    </div>

    <%= render 'layouts/footer'%>



     
      



  </body>


  
</html>
